PRIVATE_KEY=

OWNER_ADDRESS=
DEPLOYER_ADDRESS=
OPERATOR_ADDRESS=
GUARDIAN_ADDRESS=
FEE_RECIPIENT=

RPC_URL=http://rpc-internal.mezo.org/

POOL_ADDRESS=
POSITION_MANAGER=
SWAP_ROUTER=


VAULT_NAME="Mezo Rebalancer"
VAULT_SYMBOL="mREBAL"



